<footer>
    <div class="container footer-grid">
        <div class="footer-item">
            <span class="footer-topic">Yweb</span>
            <span class="footer-description">Copyright(©) 2022-present gunyu1019 All right reserved.</span>
            <a class="footer-link" href="/term">통합 이용약관</a>
            <span class="footer-description">Designed By gunyu1019</span>
        </div>
        <div class="footer-item">
            <span class="footer-topic">Recommend Project</span>
            <a class="footer-link" href="/discord"><i class="fab fa-discord footer-image"></i>Developer Space [개발인들을 위한 공간]</a>
            <a class="footer-link" href="/YBOT"><i class="fab fa-discord footer-image"></i>YBOT</a>
            <a class="footer-link" href="https://pubg.yhs.kr"><i class="fab fa-discord footer-image"></i>PUBG BOT</a>
            <a class="footer-link" href="https://play.google.com/store/apps/details?id=kr.yhs.traffic"><i class="fab fa-android footer-image"></i>MyBUS</a>
        </div>
    </div>
</footer>