<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yweb</title>
    <script src="{{ url_for('static', filename='js/jquery/jquery.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/autoscroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/billboard.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/billboard.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/language.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/billboard.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
</head>
<body>
<dialog id="discord">
    <span>건유1019#0001</span>
</dialog>

<div class="topic_img"></div>
<section class="main" id="main">
    <div class="topic_group">
        <span class="topic">gunyu1019</span>
        <span class="desc">I'm a programmer.</span>
        <ul class="sns-group">
            <li class="sns-button">
                <a href="https://twitter.com/gunyu1019">
                    <i class="fab fa-twitter" aria-hidden="True"></i>
                </a>
            </li>
            <li class="sns-button">
                <a href="https://github.com/gunyu1019">
                    <i class="fab fa-github" aria-hidden="True"></i>
                </a>
            </li>
            <li class="sns-button">
                <a href="javascript:void(0)" class="tooltip-text-out" onclick="alert('건유1019#0001');">
                    <i class="fab fa-discord" aria-hidden="True"></i>
                    <span class="tooltip-text">건유1019#0001</span>
                </a>
            </li>
            <li class="sns-button">
                <a href="https://www.twitch.tv/gunyu1019">
                    <i class="fab fa-twitch" aria-hidden="True"></i>
                </a>
            </li>
            <li class="sns-button">
                <a href="https://blog.yonghyeon.com">
                    <i class="fas fa-blog" aria-hidden="True"></i>
                </a>
            </li>
        </ul>
    </div>
</section>
<div class="container">
    <section class="about" id="about">
        <h3>그는 누구인가?</h3>
        <span>저는 취미로 프로그래밍을 다루는 평범한 고등학생입니다.</span>
        <span>다양한 커뮤니티를 운영하고, 개발해 보면서 배워가보고 있습니다!</span>
        <span>부족하지만 열심히 하도록 노력해보겠습니다!</span>
        <div class="line"></div>
        <div class="grid">
            <div class="grid-item">
                <i class="fas fa-terminal"></i>
                <h4>코딩</h4>
                <span>
                    제가 제일 좋아하는 것 중 하나는 "코딩"하는 것입니다!
                    게임과 코딩을 비교해보라고 한다면 저는 코딩을 택할 것 입니다.
                    사실 코딩이란건 과정만 힘들 분, 완성하면 상당한 쾌감을 느낍니다.
                </span>
            </div>
            <div class="grid-item">
                <i class="fas fa-gamepad"></i>
                <h4>게임</h4>
                <span>
                    제가 코딩과 게임을 비교한다면, 코딩을 택하겠지만, 게임을 싫어하는 것도 아닙니다.
                    코딩이 제 1의 스트레스를 풀어준다면, 게임은 제 2의 스트레스를 풀어줍니다.
                    주로 배틀그라운드와 레인보우식스, 마인크래프트를 하고 있으며, 저랑 같이할 사람을 찾습니다.
                </span>
            </div>
            <div class="grid-item">
                <i class="fas fa-route"></i>
                <h4>여행</h4>
                <span>
                    프로그래밍을 하고 있는 저는 집돌이가 아닙니다!
                    프로그래밍만 하는 사람이라고 생각하신다면 잘못된 생각을 하신겁니다!
                    저에게 여행은 저의 또 다른 즐거움을 주고, 저에게 또 다른 아이디어를 만들어줍니다.
                    날씨만 좋다면 밖을 상당히 돌아다니는 것을 좋아하며, 주변인들과 노는 것을 상당히 좋아합니다.
                </span>
            </div>
        </div>
        <div class="line"></div>
        <div class="grid_programing">
            <div>
                <h5 class="chart-title">Github에서 주로 사용한 언어</h5>
                <p id="chart_loading" class="chart-loading">Loading...</p>
                <div id="programing_chart" class="bb" style="color: black;"></div>
                <div id="legend"></div>
            </div>
            <div>
                    <span>
                        저는 주로 <i class="fab fa-python"></i> Python 혹은 Kotlin을 사용하고 있으며, C언어, C++,
                        <i class="fab fa-php"></i> PHP, <i class="fab fa-node-js"></i> Node.jS (서포트 한정),
                        <i class="fas fa-database"></i> MySQL를 다룰 수 있습니다.
                    </span>
                <span style="padding-top: 20px">
                        에디터 또는 IDE로 주로
                        <img src="{{ url_for('static', filename='img/pycharm.svg') }}" height="20px"/> PyCharm과
                        <img src="{{ url_for('static', filename='img/webstorm.svg') }}" height="20px"/> WebStorm,
                        <img src="{{ url_for('static', filename='img/intellijidea.svg') }}" height="20px"/> InteliJ IDEA를 사용하고 있으며,
                        가끔 협업을 하거나, 개인 사정으로 인하여
                    <img src="{{ url_for('static', filename='img/vsc.svg') }}" height="20px"> Visual Studio Code를 사용합니다.
                    </span>
            </div>
        </div>
        <div class="line"></div>
    </section>
    <section class="team" id="team">
        <h3>제가 속한 팀을 소개합니다!</h3>
        <span>저는 2021년 3월 기준 두 개의 팀에 속해 있습니다. 자세한 사항은 아래의 바로가기 링크를 클릭해보세요!</span>
        <div class="flex_team">
            <a href="https://calicocheese.xyz/">
                <div class="image1"></div>
                <div class="box-caption">
                    <span>Calico Cheese</span>
                </div>
            </a>
            <a href="https://hkdev.xyz/">
                <div class="image2"></div>
                <div class="box-caption">
                    <span>HKDev</span>
                </div>
            </a>
        </div>
    </section>
</div>
<script type="application/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
